name: ML_Nanoindentation
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - pip:
      - pandas
      - numpy
      - scikit-learn
      - umap-learn
      - hdbscan
      - matplotlib
      - seaborn
      - jupyterlab